.frontpage {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;

  &>div:first-child {
    width: 70%;
    overflow-y: auto;
  }

  &>div:last-child {
    width: 30%;
    height: 100%;
    overflow-y: scroll;
  }

  &>div {
    padding: 1rem;
  }
}
