.transaction {
  display: flex;

  justify-content: space-between;

  .own-money {
    display: flex;
    flex-direction: row;

    &>* {
      align-self: center;
    }
  }

  .group-money {
    display: flex;
    flex-direction: column;

    &>span {
      text-align: right;
    }
  }
}

.transaction-actions>*:last-child {
  margin-left: auto;
  transition: transform 0.2s;
}

.transaction-actions .button-expanded {
  transform: rotate(180deg);
}

.transaction-elem:not(:last-child) {
  margin-bottom: 1rem;
}
