.transaction {
  display: flex;

  justify-content: space-between;

  &>div:last-child {
    display: flex;
    flex-direction: row;

    &>* {
      align-self: center;
    }
  }
}

.transaction-actions>*:last-child {
  margin-left: auto;
  transition: transform 0.2s;
}

.transaction-actions .button-expanded {
  transform: rotate(180deg);
}

